.container {
  display: grid;
  grid-template-columns: repeat(4, 25%);
  grid-template-rows: 1fr 3fr 1fr;
  height: 100vh;
}

.header {
  background: brown;
  text-align: center;
  grid-column-start: 1;
  grid-column-end: -1;
  margin: 20px 10px;
}
.sidebar {
  background: burlywood;
  text-align: center;
  grid-column-start: 1;
  grid-column-end: 2;
  margin: 20px 10px;
}
.main {
  background: cadetblue;
  text-align: center;
  grid-column-start: 2;
  grid-column-end: span 3;
  margin: 20px 10px;
}
.footer {
  background: darkcyan;
  text-align: center;
  grid-column-start: 1;
  grid-column-end: -1;
  margin: 20px 10px;
}
